/*this section details css that spans the main sections of the page */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    display: flex; /* changed the display to flex so that it's easier to update the data in the header */
    align-items: center;
    justify-content: space-between;
}

    footer {
        padding: 30px;
        clear: both;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        margin: 0;
    }

/*this section details css for the main tags used throughout the site */
h1 {
    display: flex;
    font-size: 48px;
}

h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

footer h2 {
    font-size: 20px;
    margin-bottom: 0;
}

h3 {
    margin-bottom: 10px;
    text-align: center;
}

h4 {
    font-size: 20px; /* I updated the font size to match a h2 tag since that was the original size of this line */
}
 
ul {
    list-style-type: none;
    padding: 0;
    margin-right: 20px;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px; 
}

li {
    display: flex;
    margin-left: 25px;
    float: right;
    align-items: center;
    font-size: 20px;
    flex-direction: row-reverse;

}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/*this section details classes and ID's that style the 3 boxes halfway down the page */
#hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
} 

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.SEO-ORM-SMM {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.SEO-ORM-SMM img {
    max-height: 200px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/*this section details css that covers the right sidebar */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-groups {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-groups img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
